/* applied to elements */
body {
    background-color: white;
    background-image: url("../images/funky-lines.png");
    background-repeat: repeat;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

a:link,
a:visited {
    color: #999999;
    text-decoration: none;
}

hr {
    height: 3px;
    border: none;
    background-color: #dddddd;
}

button {
    /* margin: 20px 0 5px 0; */
    padding: 10px 25px;

    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13.5pt;
    background-color: #4aaaa5;
    border: none;
}


/* applied to classes in index or shared by all pages */
.navbar {
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
}

.navContent {
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.brand {
    padding: 5px 35px;
    width: auto;

    background-color: #4aaaa5;
}

.brand>h1 {
    font-family: 'Georgia', Times, serif;
    color: white;
}

.navLinks {
    vertical-align: bottom;

    color: #eeeeee;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12pt;
    word-spacing: initial;
    font-weight: lighter;
}

.main {
    width: 960px;
    margin: auto;
}

.content {
    padding: 15px 15px 25px 30px;

    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.content>h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

.content>img {
    margin: 23px 25px 10px 0;
    float: left;
}

.content>p {
    padding-top: 5px;

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13.5pt;
    line-height: 26pt;
    color: #777777;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 9pt;
    color: #dddddd;
    background-color: #666666;
    border-top: 4px solid #4aaaa5;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* for RPG page */
.char_div {
    color: white;
    border: solid 1px whitesmoke;
}

.char_unselected {
    background-color: green;
}

.hero_div {
    background-color: blue;
}

.defender_div {
    background-color: red;
}


/* PAGE RESPONSIVENESS */
@media only screen and (max-width: 980px) {
    .navContent {
        width: 90%;
    }

    .main {
        width: 60%;
        margin: auto;
        margin-left: 5%;
        float: left;
    }
}

@media only screen and (max-width: 768px) {
    .navContent {
        width: 95%;
    }

    .main {
        width: 95%;
        margin: auto;
        float: unset;
    }    
}

@media only screen and (max-width: 640px) {
    .navbar {
        padding: 0;
        margin: 0;
    }

    .navContent {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .brand {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .navLinks {
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }

    .content>img {
        width: 100%;
        float: left;
    }
}
